$background: #26252C;
$text-color: #ffffffd8;
$accent-text-color: white;

$accent: #4822CA;
$accent-light:#C7BFFF;

$accent2: #f58500;
$accent2-light: #F8E6D3;

$gradient: linear-gradient(295.96deg, #f58500e6 0%, #4822CA 100%), url('/whitenoise.png');
$border-radius: 1rem;

$header-font: 'Quicksand';
$font: 'Quicksand';

$shadow: 0 4px 4px rgba(0, 0, 0, .25);


//// RESPONSIVE
@mixin mobile {
  @media screen and (max-width: 767px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: 1024px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: 1024px) {
    @content;
  }
}


//// VARIABLES
@mixin flex($h-align: center, $v-align: center) {
	display: flex;
	justify-content: $h-align;
	align-items: $v-align;
}



//// KEYFRAMES
@keyframes line-animation {
	to {
		stroke-dashoffset: 0;
	}
}

@keyframes block-fade {
  0% {
    width: 0%;
    left: 0;

  }
  50% {
    width: 100%;
    left: 0;

  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}