* {
  font-family: $font, sans-serif;
  font-weight: 400;
  outline: none;
}

h1,
h1 span,
h2,
h3,
h4,
h5,
h6 {
  font-family: $header-font, sans-serif;
  font-weight: 600;

  &::selection {
    color: #fff;
    background-color: $accent;
  }
}

h1,
h1 span {
  font-weight: 700;
  font-size: 4.5rem;
}

h2 {
  font-size: 3rem;
}

body {
  margin: 0;
  background: $background;
  color: $text-color;
}