$background-color: #fff;

$text-color: #18191F;
$accent-text-color: white;

$accent: #8877FF;
$accent-light:#C7BFFF;

$accent2: #F18817;
$accent2-light: #F8E6D3;

$border-radius: 1rem;

$header-font: 'Barlow';
$font: 'Barlow';

$shadow: 0 4px 4px rgba(0, 0, 0, .25);

* {
  font-family: $font, sans-serif;
  font-weight: 400;
  outline: none;
}

h1,
h1 span,
h2,
h3,
h4,
h5,
h6 {
  font-family: $header-font, sans-serif;
  color: $text-color;
  font-weight: 600;

  &::selection {
    color: #fff;
    background-color: $accent2;
  }
}

h1,
h1 span {
  font-weight: 700;
  font-size: 4.5rem;
}

h2 {
  font-size: 3rem;
}

body {
  margin: 0;
}

section {
  min-height: 100vh;
}

@function text-color($color) {
  @if (lightness($color) > 50) {
    @return black;
  }

  @else {
    @return white;
  }
}


//// RESPONSIVE
@mixin mobile {
  @media screen and (max-width: 767px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: 1024px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: 1024px) {
    @content;
  }
}


//// VARIABLES
@mixin flex($h-align: center, $v-align: center) {
	display: flex;
	justify-content: $h-align;
	align-items: $v-align;
}



//// KEYFRAMES
@keyframes line-animation {
	to {
		stroke-dashoffset: 0;
	}
}

@keyframes block-fade {
  0% {
    width: 0%;
    left: 0;

  }
  50% {
    width: 100%;
    left: 0;

  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}