$background-color: #fff;
$background-dark: #293133;

$accent: #7e5ded;
$accent-text-color: white;
$accent-dark: #553ea1;
$accent-light:#9474ff;

$accent2: #FF8A00;
$accent2-dark: #9e5706;
$accent2-light: #fba746;

$border-radius: 1rem;

$header-font: 'Montserrat';
$font: 'Lato';

* {
  font-family: $font, sans-serif;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $header-font, sans-serif;
}

body {
  margin: 0;
}

@function text-color($color) {
  @if (lightness($color) > 50) {
    @return black;
  }

  @else {
    @return white;
  }
}


//// RESPONSIVE 
@mixin mobile {
  @media screen and (max-width: 767px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: 1024px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: 1024px) {
    @content;
  }
}


//// VARIABLES
@mixin flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}



//// KEYFRAMES
@keyframes line-animation {
	to {
		stroke-dashoffset: 0;
	}
}

@keyframes block-fade {
  0% {
    width: 0%;
    left: 0;

  }
  50% {
    width: 100%;
    left: 0;

  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


